$screen-size-desktop: 638px;
$container-size-desktop: 768px;

//color values
$black: #000000;
$white: #ffffff;
$whitesmoke: #f3f3f3;
$gray-geyser: #dadce0;
$gray-gunsmoke: #818181;
$gray-stardust: #939b9f;

$yellow-sahara: #ceb02c;
$green-forest: #66a060;

//semantic colors
$header-bg: $whitesmoke;
$header-border: $black;
$header-buttons: $gray-gunsmoke;
$cell-bg: rgba($gray-stardust, 0.3);
$cell-color: $white;
$exist-bg: $yellow-sahara;
$exact-bg: $green-forest;
$keyboard-bg: rgba($gray-geyser, 0.3);
$used-bg: $gray-gunsmoke;
