@import "./variables";
.board {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 638px;
  &__grid {
    margin-top: 40px;
  }
  &__row {
    display: flex;
    justify-content: row;
  }
}
