@import "./variables";
.cell {
  $time-delay: 0.5s;
  align-items: center;
  background-color: $cell-bg;
  border-radius: 5px;
  color: $cell-color;
  display: flex;
  justify-content: center;
  font-size: 35px;
  font-weight: 800;
  line-height: 41px;
  height: 76px;
  margin: 12px 12px 0 0;
  text-align: center;
  transition: ease-in-out $time-delay all;
  width: 76px;
  &.dark {
    background-color: $cell-bg-dark;
    color: $keyboard-color-alt;
  }
  &.column-0 {
    transition-delay: 0 * $time-delay;
  }

  &.column-1 {
    transition-delay: 1 * $time-delay;
  }

  &.column-2 {
    transition-delay: 2 * $time-delay;
  }

  &.column-3 {
    transition-delay: 3 * $time-delay;
  }

  &.column-4 {
    transition-delay: 4 * $time-delay;
  }

  &.not-exist {
    background-color: $used-bg;
    color: $keyboard-color-alt;
  }

  &.exist {
    background-color: $exist-bg;
    color: $keyboard-color-alt;
  }

  &.ok {
    background-color: $exact-bg;
    color: $keyboard-color-alt;
  }
}
