@import "./variables";

.keys {
  background-color: $keyboard-bg;
  border-radius: 15px;
  margin-top: 40px;
  padding: 30px 20px;

  &__row {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  &__key {
    $time-delay: 0.5s;
    background-color: $cell-bg;
    border: none;
    border-radius: 5px;
    color: $keyboard-color;
    cursor: pointer;
    font-weight: bold;
    height: 51.05px;
    margin: 12px;
    transition: ease-in-out 4 * $time-delay all;
    width: 44.67px;

    &.not-exist {
      background-color: $used-bg;
      color: $keyboard-color-alt;
    }

    &.exist {
      background-color: $exist-bg;
      color: $keyboard-color-alt;
    }

    &.ok {
      background-color: $exact-bg;
      color: $keyboard-color-alt;
    }
  }

  &.dark {
    .keys__key {
      &.not-set {
        background-color: $keyboard-cell-dark;
        color: $keyboard-color-alt;
      }
    }
  }
}
